@import "tailwindcss";

:root {
  --background: #192324;
  --foreground: #ffffff;
  --primary: #aa8b57;
  --secondary: #192324;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

/* Custom styles for the dropdown transition */
.dropdown-enter {
  opacity: 0;
  transform: translateY(-8px);
}
.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}
